<!-- Template for searching for memes and displaying the trends chart -->
<template name="searchForm">
  <div class="row">
    <div class="col-md-4">
      <!-- The search text file and submit button -->
      <form>
        <input type="text" name="playerName">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>
  <br/>
  <div class="row">
    <!-- This is where the chart is put -->
    <div class="col-md-4">
        {{>trends url=searchTerm}} <!-- The searchTerm is set by the search text field -->
    </div>
  </div>
</template>
